@page "/issue"
@inherits IssueListBase
@attribute [Resource("issueList", "问题列表")]
@using Element
<BAuthorizeView Roles="@Roles">
    <BForm Inline="true" @ref="form">
        <BFormItem TValue="string" Label="描述" Name="@nameof(IssueSearchModel.Description)">
            <BInput TValue="string"></BInput>
        </BFormItem>
        <BFormItem TValue="string" Label="状态" Name="@nameof(IssueSearchModel.Status)">
            <BSelect TValue="IssueStatus"></BSelect>
        </BFormItem>
        <BFormItem TValue="DateTime" Label="发起时间">
            <BDatePicker Placeholder="开始时间" Name="@nameof(IssueSearchModel.StartCreateTime)"></BDatePicker>
            <span class="el-range-separator">至</span>
            <BDatePicker Placeholder="结束时间" Name="@nameof(IssueSearchModel.StartCreateTime)"></BDatePicker>
        </BFormItem>
        <BFormActionItem Style="text-align:center">
            <BButton Type="ButtonType.Primary" OnClick="SearchAsync">搜索</BButton>
        </BFormActionItem>
    </BForm>
    <BButtonGroup>
        <BButton Type="@ButtonType.Primary" Size="@ButtonSize.Small" OnClick="CreateAsync">创建问题</BButton>
    </BButtonGroup>
    <BTable DataSource="Models" @ref="table" IgnoreProperties="new string[] { nameof(IssueGridModel.Id)}" HasSelectionColumn="false">
        <BTableColumns>
            <BTableTemplateColumn Text="操作" Context="model">
                <BButton Type="@ButtonType.Primary" Size="@ButtonSize.Mini" OnClick="@(e => EditAsync(model))">编辑</BButton>
                <BButton Type="@ButtonType.Danger" Size="@ButtonSize.Mini" OnClick="@(e => Delete(model))">删除</BButton>
            </BTableTemplateColumn>
        </BTableColumns>
    </BTable>
</BAuthorizeView>